/CMakeFiles/
Makefile
cmake_install.cmake
libinterface.so
CMakeCache.txt
build
.cmake
.idea
.cache
test_main
compile_command.json
test_read
test_write
test_engine
test_engine_read
test_sala
.vscode
compile_commands.json
